.event-list {
  list-style: none;
  width: 90%;
  margin-bottom: 32px;
  margin-right: 24px;
}

@media screen and (min-width: 768px) {
  .event-list {
    width: 45%;
  }
}

.event-button {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}

.event-image {
  width: 100%;
  max-width: 460px;
  border: 2px solid transparent;
  border-radius: 8px;
}

.active {
  border-radius: 10px;
  border: 2px solid #2dd4bf;
}

.event-name {
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  color: #f8fafc;
  line-height: 1.2;
  margin-top: 12px;
}

.event-location {
  font-family: 'Roboto';
  font-size: 16px;
  color: #f8fafc;
  line-height: 24px;
  margin-top: 4px;
}
